@font-face{
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf')
}

* {
  font-family: 'RobotoMono, monospace'
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color:#fff;
  background: linear-gradient(to right, rgb(83,105,118), rgb(41,46,73))
}

.react-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 25vmin;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  
}